<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AppIcon 1</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon 1</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIcon 2</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon 2</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIcon 3</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon 3</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIcon 4</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon 4</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIcon 5</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon 5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIcon 6</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon 6</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIcon 7</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon 7</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIcon 8</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon 8</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
