<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AppIcon 1</key>
            <dict/>
            <key>AppIcon 2</key>
            <dict/>
            <key>AppIcon 3</key>
            <dict/>
            <key>AppIcon 4</key>
            <dict/>
            <key>AppIcon 5</key>
            <dict/>
            <key>AppIcon 6</key>
            <dict/>
            <key>AppIcon 7</key>
            <dict/>
            <key>AppIcon 8</key>
            <dict/>
        </dict>
    </dict>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
</dict>
</plist>
