.ProseMirror pre,
.ProseMirror .inline-code {
  @apply bg-black bg-opacity-5 rounded-lg dark:bg-opacity-30 text-gray-700 dark:text-gray-200 !important;
  font-family: 'Helvetica', 'Arial', sans-serif;
  tab-size: 2;
  font-variant-ligatures: normal;
}
.ProseMirror a {
  @apply dark:text-amber-400 !important;
}
.ProseMirror strong {
  @apply dark:text-white;
}
.ProseMirror blockquote {
  @apply dark:border-gray-700 dark:text-gray-100;
}
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  @apply dark:text-white;
}
.ProseMirror .mention {
  @apply py-0.5 px-1 rounded-md bg-primary text-primary bg-opacity-10 dark:text-amber-400 hover:underline;
  cursor: pointer;
}
.ProseMirror .math-block {
  @apply dark:bg-gray-800;
}
.math-node .math-src {
  @apply dark:text-purple-400 text-purple-500 !important;
}
img.ProseMirror-selectednode {
  @apply ring-2 ring-primary transition;
}

.ProseMirror {
  min-height:  400px;
  & > :first-child {
    margin-top: 0;
  }
  &:focus {
    outline: none;
  }
  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
    li {
      &::before {
        height: 0 !important;
        width: 0 !important;
      }
      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
      }
      p {
        margin: 0;
      }
      input[type="checkbox"] {
        margin-top: 8px;
      }

      display: flex;
      align-items: flex-start;
    }
  }
  .find {
    @apply bg-yellow-400;
  }
  .inline-code {
    @apply p-0.5 px-1 rounded;
  }
  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    @apply text-gray-400 dark:text-gray-700;
    pointer-events: none;
    height: 0;
  }
  img {
    @apply rounded;
  }
  mark {
    @apply bg-yellow-200 dark:bg-yellow-100;
  }
}
